body{
    font-size: 0.90em;
    font-family: Georgia, "Times New Roman", serif;
    color: black;
}

<<<<<<< HEAD
/*Da rivedere quando c'è php delle immagini per inserire logo sito*/

#logo-mobile-short, #links, #icon, #menu, #barra-di-ricerca, .aiuti-screenreader, .torna-su, #footer, img{
=======
#logo-mobile-short, #links, #icon, #menu, #barra-di-ricerca, .aiuti-screenreader, .torna-su, #footer,
.articoloPrincipale img, .articoloScheda img,#logo-mobile-full, .boxgenere img{
>>>>>>> 8ea5f584d463a925f6bd6df4f32097a1f4121dd5
    display: none;
}

.articoloScheda, .articoloPrincipale{
    border: rgb(160, 160, 160) ridge;
    border-radius: 0.25em;
    border-width: 1px;
    margin: 0.25em;
    padding: 0.2em;
}

abbr{
  text-decoration: none;
}

h3{
    color: black;
}

h2{
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

.form-container{
    list-style-type:none;
}
