body{
    font-family: Georgia, "Times New Roman", serif;
    color: black;
}


#logo-mobile-short, #links, #icon, #menu, #barra-di-ricerca, .aiuti-screenreader, .torna-su, #footer,
.articoloPrincipale img, .articoloScheda img,#logo-mobile-full, .boxgenere img{
    display: none;
}

.articoloScheda, .articoloPrincipale{
    border: rgb(160, 160, 160) ridge;
    border-radius: 0.25em;
    border-width: 1px;
    margin: 1em;
    padding: 1em;
}

h3{
    color: black;
}

h2{
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

.form-container{
    list-style-type:none;
}
