* {
	padding: 0em;
	margin: 0em;
}

.aiuti-screenreader {
    position: absolute;
    height: 0;
    overflow: hidden;
}

html{
    background-image: url("wallpaper2.jpg");
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

body{
    font-family: Verdana, Helvetica, sans-serif;
    font-size:0.9em;
    max-width: 1024px;
    margin:auto;
    background-color: white;
}

.contenutoGenerale{
    text-align: center;
    padding-top:1.5em;
}

.errorDiv {
    margin-top: 6em;
    margin-bottom: 6em;
    margin-left: auto;
    margin-right: auto;
}

.errorDiv h1{
    text-align:center;
}

#header {
    background-color: black;
}

#logo{
    float: left;
    padding: 1.4em 1.4em 0em 1.4em;
}

#hamburger-menu{
	display: none;
}

#logo-mobile-full{
	display: none;
}

#logo-mobile-short{
	display: none;
}

.logo-mobile{
	background: black;
}

.logo-mobile img{
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

.warning{
    color: red;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #links {
	display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav p {
  padding-left: 14px;
  text-decoration: none;
  display: block;
}

.topnav div.icon {
  background: black;
  display: block;
  position: absolute;
  padding: 0.9em;
  right: 0;
  top: 0;
}

.menu-bars div{
	width: 25px;
	height: 3px;
	background-color: white;
	margin:3px 0;
}

.active {
  background-color: #4CAF50;
  color: white;
}

#intestazione {
    color:white;
    margin-left: 40%;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

ul{
    list-style-type: none;
}

#AccediRegistrati{
    color: white;
    font-weight: bold;
    text-align: right;
    font-size: 0.9em;
    padding-right: 1em;
}

#menu{
    padding: 0.1em 0.1em 0em 0.1em;
}

#menu a:link{
    color: #FFF;

}

#menu a:visited{
    color: #BBBBBB;
}

#listaMenu{ 
	text-align: center;
	margin-top: 0.8em;
}

#barra-di-ricerca{
    background-color: black;
    color: white;
    justify-content: center;
    text-align: right;
}

#fieldSet{
    border: none;
    margin-right: 2%;
}

#risultati-ricerca{
    height: 1.5em;
    overflow: hidden;
    width: 12em;
}

#immagine-lente{
    background-color: rgb(223, 221, 221);
    width: 1.1em;
    height: 1.1em;
    border-style: solid;
    border-color: gray;
    border-width: 0.01em;
    padding: 0.4em 1em 0.4em 1em;
    margin-bottom: -0.7em;
}

.elementomenu{
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    font-size: 1.3em;
    font-weight: bolder;
    color: white;
}

#breadcrumb {
    background-color: black;
    color:white;
    padding: 0.1em 1em 0.3em 2em;
}

#breadcrumb p{
    margin: 0%;
}

#contentHomePage{
    text-align: center;
}

#contentHomePage h1{
    font-size: 3em;
}


#contenutoArticoli{
  margin-left: 2em;
  margin-right:2em;
}

#recensione{
    margin-right:1em;
}

#recensione p{
    text-align: left;
    margin-top: 1%;
}

#recensione img{
    width: 50%; 
    float: left; 
    padding: 1em 1em 1em 1em;
}

.home-articoli{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

.articoloPrincipale{
    display: flow-root;
    background-color: #dbdbdb;
    border-radius: 1em;
    padding-right:0.4em;
}

.articoloPrincipale img{
    height: 260px;
    width:  450px;
    float: left;
    border-radius: 2em;
    margin: 2em;
}

.articoloPrincipale h2{
    margin-top: 10%;
    margin-left: 5%;
    text-align: left;
    font-size: 2em;   
}

.articoloPrincipale p{
    text-align: left;  
    margin-left: 5%;
}

.submit{
    margin-bottom:2%;
}

.nascondi-classe-gioco{
    display: none;
}

/*!!!!!!!!    NUOVA SCHEDA ARTICOLO    !!!!!!!!!!*/

.articoloScheda{
    display: flow-root;
    margin-bottom: 2%;
    padding: 0.4em;
    background-color: #dbdbdb;
    border-radius: 1em;
}

.articoloScheda img{
    height: 120px;
    width:  210px;
    float: left;
    margin: 5px;
    border-radius: 2em;
    margin-right: 1.5em;
}

.articoloScheda h2{
    float: right;
    margin: 0px;
    color: blue;
}

.articoloScheda h3{
    margin: 0em;
    text-align: left;
    font-size: 2em;
}

.articoloScheda h4{
    font-size: 2em;
    margin-bottom: 0em;
}

.articoloScheda p{
    margin: 0.3%;
    text-align: left;
}

#Top1{
    background-color: gold;
}

#Top2{
    background-color: silver;
}

#Top3{
    background-color: brown;
}

#messagio-commenti-articolo{
    margin: 5em;
}

#elimina-articolo{
    margin:3em;
}

.commenti{
    background-color: black;
    margin: 1em;
    color: white;
    padding: 1em;
    border-radius: 2em;
}

.commenti p{
    width:99%;
    word-wrap:break-word;
}

#box-commento{
    width: 100%;
    height: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#tasto-box-commenta{
    margin: auto;
    display: block;
}

.nome-propietrario-commento{
    text-align: left;
}

.testo-commento{
    text-align: left;
}

.commento-dataora{
    text-align: right;
}


/*!!!!!!!!     FINE NUOVA SCHEDA ARTICOLO     !!!!!!!!!*/

#navArticoli{
    font-size: 1.4em;
}

.elNavArticoli{
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    font-weight: bolder;
}

.top10-page{
    margin: 2em;
    padding: 2em;
    display: flow-root;
}

.miniatura-home{
    height: 200px;
    width:  200px;
}

.miniatura-lista-top10{
    height: 200px;
    width:  200px;
    float: left;
    margin: 1em;
}

.boxgenere{
    height: 100px;
    width: 200px;
    display: inline-block;
    margin: 2em;
    color: black;
}


a.link-box-genere:visited{
    color: black;
}

.immagine-box{
    height: 100%;
    width: 100%;
    border-radius: 4em;

}

.torna-su{
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.torna-su-link{
    padding: 1em;
    background-color:black;
    color:white;
    border-radius:1em;
}

#footer{
    background-color: black;
    color:white;
    clear:both;
    text-align: center;
    padding: 0.1em;
}

#footer p{
	padding-top:0.1em;
	padding-bottom:0.1em;
}

#footer img{
	padding-top:0.2em;
	padding-bottom:0.1em;
}

/*pagina accedi/registrati*/
.form-fieldset{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    text-align: center;
}



/*                        */

.errore-credenziali{
    color:red;
    display: block;
}

/*    MODIFICA UTENTE*/
#modifca-utente{
    text-align: center;
}

/*NUOVO STYLE FORM*/

.form-fieldset li{
    margin-bottom: 2em;
}

.form-fieldset input{
    padding: 2.5px;
    border-radius: 2em;
}

.form-fieldset label{
    text-align: left;
    padding-top: 3px;
    padding-right: 10px;
    width: 9em;
    display: block;
    float: left;
    font-weight: bold;
}

.data-pubblicazione-gioco{
    width: 3em;
}


/*FINE NUOVO STYLE FORM*/


.contenutoAccesso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenutoAccesso ul{
    list-style-type:none;
}

#termini-di-servizio{
    padding: 1em;
    margin: 1em;
    background-color: #dbdbdb;
    border-radius: 1em;
}

/* Pagina Utente */

#benvenuto-utente{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 3em;
    margin-bottom: 3em;
}


.foto-profilo{
    height: 100px;
    width:  100px;
    border-radius: 6em;
    margin-right: 3em;
}

#modifica-dati{
    text-align: center;
    margin: 3em;
}

#aggiungi-articolo{    
}

.addGameArti {
    text-align: center;
    margin: auto;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
    display: block;
    width: 12em;
}

#eliminazione-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3em;
}

/* FINE PAGINA UTENTE*/

/*PAGINA AGGIUNGI ARTICOLO*/

#content-aggiungi-articolo{
    margin: 3em;
    background-color: #dbdbdb;
    border-radius: 3em;
    padding: 2em;
}

#content-aggiungi-articolo .form-inserisci-testo{
	width:95%;
}

#content-aggiungi-articolo #aggiungi-gioco{
	width:30%;
}

#content-aggiungi-articolo #aggiungi-titolo{
	width:30%;
}

#content-aggiungi-articolo #aggiungi-sommario{
	width:30%;
}

#content-aggiungi-articolo #aggiungi-descrizione-immagine{
	width:30%;
}

.form-new-articolo{
    margin-top: 2em;
    margin-bottom: 2em;
    border: none;
}

.form-new-articolo li{
    margin: 2em;
}

.form-contenuto-datiarticolo{

}

.form-elemento-datiarticolo{

}


/* FINE PAGINA AGGIUNGI ARTICOLO*/



/*mobile*/
@media screen and (max-width: 1024px){ /*TABLET in LANDSCAPE*/

    #logo{
        text-align: center;
    }

    #intestazione{
        text-align: center;
        margin-left: auto;
    }

}

@media screen and (max-width: 769px) { /*TABLET dritti e SMARTPHONES in landscape*/

    #logo{
		display: none;
    }
    
	#logo-mobile-full{
		display: inline;
	}
    
    #hamburger-menu{
		width: 100%;
        display: inline-block;
    }
	
    #menu{
        display: none;
    }

    #contentHomePage h1{
        font-size: 1.7em
    }

    .articoloPrincipale img{
        height: 90%;
        width:  90%;
        float: left;
        border-radius: 2em;
        margin: 3%;
    }

}

@media screen and (max-width: 480px) { /*SMARTPHONES*/

	#logo-mobile-full{
		display: none;
	}
	
	#logo-mobile-short{
		display: inline;
	}
	
    #contenutoArticoli{
        margin-left: 2em;
        margin-right: 0.5em;
        margin-top: 2em;
    }

    #introduzione{
        margin: 0.5em;
    }

    #home-articoli{
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2em;
    }

    .articoloPrincipale img{
        height: 90%;
        width:  90%;
        float: left;
        border-radius: 2em;
        margin: 5%;
    }
	
    .articoloScheda img{        
        height: 50%;
        width: 50%;    
        float: left;    
        margin: 5px;
    }

    .articoloScheda h3{
        font-size: 20px;
    }

    .articoloScheda h4{
        font-size: 17px;
    }
    
    #content-aggiungi-articolo{
	margin: 1em;
    }
}
/*fine mobile*/
